/* NAVIGATION */

#logo {
    color: #960B40;
    font-family: 'Damion', "Roboto", sans-serif;
    font-size: 60px;
    margin-top: 40px;
    
}
#navigation {
    margin-top: 50px;
    
}
.nav.navbar-nav.navbar-right li a {
    color: navy;
}
.container {
    /* background-color: peachpuff; */
}

/* BODY */

body {
    /* background-color: peachpuff; */
}