/* GLOBAL */

.container {
    padding-top: 100px;
    width: 80%;
    overflow: hidden;
}

/* NAVBAR */

.navbar {
    padding-top: 30px;
    color: #ffffff;
    border-bottom: pink 3px solid;
    min-height: 70px;
    margin-bottom: 20px;
}